body {
    background-color: rgb(50, 50, 50);
    margin: auto;
}

#quickLinks {
    opacity: 0;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgb(50, 50, 50);
    margin: auto;
}

#quickLinks p {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 13pt;
    text-decoration: none;
    padding-left: 2%;
    display: inline;
}

#quickLinks p:hover {
    transition: 100ms;
    color: darkgray;
    cursor: pointer;
}

#title {
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 500%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    opacity: 0;
}

#underline {
    border: solid white 1px;
    margin: auto;
    margin-bottom: 50px;
    width: 0px;
    opacity: 0;
}

.project {
    border: solid white 1px;
    border-top: none;
    border-left: none;
    word-wrap: break-word;
    font-family: 'Catamaran', sans-serif;
    color: white;
    max-width: 750px;
    padding: 15px;
    margin: auto;
    margin-bottom: 100px;
    opacity: 0;
}

.project_title {
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 24pt;
    margin: auto;
}

.project img {
    float: right;
    padding-left: 10px;
    padding-bottom: 5px; 
}

.project a {
    text-decoration: none;
    color: cornflowerblue;
}

.project a:hover {
    transition: 150ms;
    color: rgb(50, 100, 200);
}