body {
    background-color: rgb(50, 50, 50);
}
#name {
    text-align: center;
    font-size: 500%;
    color: white;
    font-family: 'Catamaran', sans-serif;
    margin: auto;
    padding-top: 15%;
    opacity: 0; 
}
#underline {
    border: 1px solid white;
    width: 0px;
    margin: auto;
    margin-bottom: 40px;
    opacity: 0;
}
.button {
    background-color: gray;
    width: 130px;
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 12pt;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 3px;
    outline: none;
}
.button:hover {
    transition: 150ms;
}
#buttons {
    text-align: center;
    height: 15%;
    opacity: 0;
}
