body {
    background-color: rgb(50, 50, 50)
}
#name {
    text-align: center;
    font-size: 500%;
    color: white;
    font-family: 'Catamaran', sans-serif;
    margin-top: 15%;
    margin-bottom: 0%;
    padding: 0%;
    
}
#underline {
    border: 1px solid white;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 3%;
}
.button {
    background-color: gray;
    width: 9%;
    padding-top: 0.25%;
    padding-bottom: 0.25%; 
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 11pt;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 3px;
    outline: none;
}
#buttons {
    text-align: center;
    height: 15%;
}